@import "scss/index";

.Section {
  &_size {
    &_s {
      padding-top: $global-spacing-s;
    }
    &_m {
      padding-top: $global-spacing-m;
    }
    &_l {
      padding-top: 18px;
    }
    &_xl {
      padding-top: $global-spacing-xl;
    }
    &_xxl {
      padding-top: $global-font-size-xl;
    }
  }

  @include media("<=phone") {
    &_mobile {
      &_s {
        padding: 0;
      }
      &_m {
        padding-top: $global-spacing-xs;
      }
      &_l {
        padding-top: $global-spacing-s-h;
      }
      &_xl {
        padding-top: $global-spacing-s;
      }
    }
  }

  &_bottom {
    padding-bottom: $global-spacing-m;
  }
}