$gray-10: #F0F2F3;
$gray-20: #F2F2F2;
$gray-30: #F5F5F5;
$gray-31: #F4F5F6;
$gray-40: #E5E5E5;
$gray-41: #E6E6E6;
$gray-50: #E0E0E0;
$gray-60: #CCCCCC;
$gray-70: #B8BEC3;
$gray-80: #999999;
$gray-90: #7F8285;
$gray-100: #8694A2;

$black-10: #4F4F4F;
$black-30: #434445;
$black-70: #00234b;
$black-100: #000000;

$red-10: #FFEEF0;
$red-80: #FF4F49;
$red-100: #FF3029;

$blue-10: #FAFBFC;
$blue-20: #EBF6FD;
$blue-30: #F1F8FF;
$blue-70: #1774E9;
$blue-80: #0433ff; // код дифа
$blue-100: #005fba;


$purple-10: #9A77FF;
$purple-100: #6B69C7;

$green-10: #E6FFED;
$green-60: #19BC4D;
$green-100: #008f00; // код дифа


$yellow: #ffdb4d;