@import './variables';

$base-color: $black-70;
$comment-color: $gray-100;
$string-color: $blue-100;
$title-color: $blue-100;

pre {
  margin: 0;
}

.hljs {
  color: $base-color;

  &-comment {
    color: $comment-color;
  }

  &-keyword {
    font-weight: 600;
  }

  &-string {
    color: $string-color;
  }

  &-title {
    color: $title-color;
    font-weight: 600;
  }
}