// Расстояния
$global-spacing-xxxl: 40px;
$global-spacing-xxxl-h: 40px;
$global-spacing-xxl: 32px;
$global-spacing-xl: 24px;
$global-spacing-l: 20px;
$global-spacing-m: 16px;
$global-spacing-s: 12px;
$global-spacing-s-h: 10px;
$global-spacing-xs: 8px;
$global-spacing-xs-h: 6px;
$global-spacing-xxs: 4px;
$global-spacing-xxxs: 2px;

// Граница
$global-border-radius-xs: 1px;
$global-border-radius-xs-ct: 2px;
$global-border-radius-s: 4px;
$global-border-radius-m: 5px;
$global-border-radius-l: 10px;

$global-border-width-s: 1px;
$global-border-width-m: 2px;
$global-border-width-l: 3px;

// Шрифт
$global-font-size-xl: 24px;
$global-font-size-l: 20px;
$global-font-size-m: 16px;
$global-font-size-s: 14px;
$global-font-size-xs: 13px;
$global-font-size-xxs: 12px;

$global-line-height-l: 28px;
$global-line-height-m: 20px;
$global-line-height-s: 18px;
$global-line-height-xs: 15px;

// Общие значения
$global-container-width: 1376px;
$footer-height: 50px;